@import "./normalize.css";
@import "compass/css3/transition";

$primary-color: green;

h1 {
	@include transition(height 0.5s linear);
  color: $primary-color;
}

li.task {
  list-style-type: none;

  label {
    padding: 0 10px;
  }
}
