@import "./normalize.css";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/images";

$primary-color: green;

h1 {
	@include transition(height 0.5s linear);
  color: $primary-color;
}

li.task {
  list-style-type: none;

  label {
    padding: 0 10px;
  }
}
.fill, body, html {
	width: 100%;
	height: 100%;
}
header {
	bottom: 0;
}
.absolute {
	position: absolute;
}
#arm-container {
	position: relative;
}
#motion-box {
	position: absolute;
	background: rgba(255,255,255,0.5);
}
.video-cover {
	@include translate(-50%, -50%);
	@include scale(-1,1);
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}
#pixel-density-grid {
	// background grid from https://codepen.io/jasonadelia/pen/DnrAe
	@include background-image(linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5) 76%, transparent 77%, transparent));
	background-color: transparent;
}
#pixel-density-grid, #motion-container {
	position: absolute;
}
#settings-container {
	right: 0;
	bottom: 0;
}
#buttons-container {
	z-index: 99;
	right: 0;
}

canvas:nth-child(2) {
	//display: none;
}