@import "./_common";
@import "compass/css3/animation";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/images";

@include keyframes(ninja-star) {
	from {
		@include rotateZ(0deg);
	}
	to {
		@include rotateZ(360deg);
	}
}

#arm-container {
	@include transition(background 0.1s linear);
	@include background(radial-gradient(center, ellipse cover, #404350 0%,rgba(29,30,33,1) 100%));
	color: $red;
	h1 {
		font-weight: 300;
		color: $white;
	}
	#arm-info-container {
		max-width: 320px;
		margin: 0 auto;
	}
	#armed {
		&.motion {
			background: #FFF;
		}
	}
	#arm-icon-ninja-star:before {
		@include animation(ninja-star 10s linear 0s infinite);
		font-size: 3em;
	}
}